#heading {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 5px solid black;
    border-radius: 50%;
}
#navbar {
    position:fixed;
    top: 0px;
    height: 60px;
    background-color:#0f1111;
    color:white;
    border: 2px solid white;

}
body {
    background-color: blueviolet;
}
#traffic {
    background-color: black;
    width: 300px;
    height: 500px;
    color:white;
    padding: 50px;
    padding-left: 120px;
    padding-top:20px;
    

}
#light {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius:50%;
    height: 150px;
    width: 150px;
    margin: 25px;

}
/*<div id="traffic">
        <div id="light">
        </div>
        <div id="light">
        </div>
        <div id="light">    
        </div>
    </div>*/
#logo {
    color: orange;
    font-size: 25px;
}
button {
    color: orange;
}
a {
    margin-right:200px;
}
.new {
    background-color:red;
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    border: #0f1111;
    border-style: solid;
    display: inline-block;
}
footer {
    background-color: antiquewhite;
    border:2px solid #0f1111;
    text-align: center;
}
main {
    margin-bottom: 50px;
}
#sticks {
    position: sticky;
    top: 61px;
}